{
  "extends": ["react-app", "plugin:prettier/recommended"],
  "rules": {
    "no-console": "error",
    "no-unused-expressions": "error"
  },
  "overrides": [
    {
      "files": ["**/*.ts?(x)"],
      "rules": {
        "@typescript-eslint/no-explicit-any": "error"
      }
    }
  ]
}
